<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styleProdutos.css">
    <title>Produtos</title>
 
</head>

<body>

    <!-- barra de navegação -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(208, 216, 223);">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="color: black;">
            <span class="navbar-toggler-icon"></span> <font face="Didot">menu</font>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto"> <!-- Itens à esquerda -->
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="produtos.html">Jogos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="carrinho.html">Carrinho</a>
                </li>
            </ul>
            <ul class="navbar-nav" id="direita"> <!-- Itens à direita -->
                <li class="nav-item">
                    <a class="nav-link" href="entrar.html">&#9787; Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cadastro.html">Cadastrar</a>
                </li>              
            </ul>
        </div>
    </nav>


<h1>Jogos</h1>

<div class="container">
  <div class="cardProduto">
    <img src="img/capa jogos/dead-cells300cortado.jpg" alt="Jogo 1">
    <h3>Dead Cells</h3>
    <p>R$ 45,00</p>
    <button onclick="addToCart('DeadCells', 120)">Adicionar ao Carrinho</button>
  </div>

  <div class="cardProduto">
    <img src="img/capa jogos/Yuppie_Psycho_Capa200.webp" alt="Jogo 2">
    <h3>Yuppie Psycho</h3>
    <p>R$ 90,00</p>
    <button onclick="addToCart('YuppiePsycho', 250)">Adicionar ao Carrinho</button>
  </div>

  <div class="cardProduto">
    <img src="img/capa jogos/a-hat-in-time-video-games-wallpaper-preview200.jpg" alt="Jogo 3">
    <h3>A Hat In Time</h3>
    <p>R$ 130,00</p>
    <button onclick="addToCart('AHatInTime', 180)">Adicionar ao Carrinho</button>
  </div>
</div>

<br><br>

<div class="container">
  <div class="cardProduto">
    <img src="img/capa jogos/Bloodstained200.png" alt="Jogo 1">
    <h3>Bloodstained Ritual of the Night</h3>
    <p>R$ 100,00</p>
    <button onclick="addToCart('BloodstainedRitualoftheNight', 120)">Adicionar ao Carrinho</button>
  </div>

  <div class="cardProduto">
    <img src="img/capa jogos/darkestDungeon150.jpg" alt="Jogo 2">
    <h3>Darkest Dungeon</h3>
    <p>R$ 75,00</p>
    <button onclick="addToCart('DarkestDungeon', 250)">Adicionar ao Carrinho</button>
  </div>

  <div class="cardProduto">
    <img src="img/capa jogos/slay_the_spire200.jpg" alt="Jogo 3">
    <h3>Slay the Spire</h3>
    <p>R$ 180,00</p>
    <button onclick="addToCart('SlaytheSpire', 180)">Adicionar ao Carrinho</button>
  </div>
</div>

<br><br>

<div class="container">
  <div class="cardProduto">
    <img src="img/capa jogos/project-zomboid-how-to-set-up-game200.avif" alt="Jogo 1">
    <h3>Project Zomboid</h3>
    <p>R$ 35,00</p>
    <button onclick="addToCart('ProjectZomboid', 120)">Adicionar ao Carrinho</button>
  </div>

  <div class="cardProduto">
    <img src="img/capa jogos/hades200.webp" alt="Jogo 2">
    <h3>Hades</h3>
    <p>R$ 110,00</p>
    <button onclick="addToCart('Hades', 250)">Adicionar ao Carrinho</button>
  </div>

  <div class="cardProduto">
    <img src="img/capa jogos/elysium200.jpg" alt="Jogo 3">
    <h3>Disco Elysium</h3>
    <p>R$ 120,00</p>
    <button onclick="addToCart('DiscoElysium', 180)">Adicionar ao Carrinho</button>
  </div>
</div>

<script>
  function addToCart(productName, price) {
    // Obtém o carrinho do localStorage ou cria um array vazio se não houver
    let cart = JSON.parse(localStorage.getItem('cart')) || [];
    
    // Adiciona o novo item ao carrinho
    cart.push({ name: productName, price: price, quantity: 1 });
    
    // Armazena o carrinho atualizado no localStorage
    localStorage.setItem('cart', JSON.stringify(cart));
    
    alert(productName + ' foi adicionado ao carrinho!');
  }
</script>

</body>
</html>
